@model IEnumerable<RoomReservation.Models.TReservation>

@{
    ViewData["Title"] = "ManageReservation";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section id="portfolio" class="portfolio" style="padding-top:10px">
    <div class="container">
        <div class="section-title">
            <h2>Reservations</h2>
            <div class="row justify-content-md-center">
                <div class="col-md">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Check In
                                </th>
                                <th>
                                    Check Out
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ResId)
                                    </td>
                                    <td>
                                        @item.ResDate.ToString("yyyy - MMM - dd")
                                    </td>
                                    <td>
                                        @item.ResFrom.ToString("yyyy - MMM - dd")
                                    </td>
                                    <td>
                                        @item.ResTo.ToString("yyyy - MMM - dd")
                                    </td>
                                    <td>
                                        @{
                                            string st = "";
                                            if (item.ResStatus == 0)
                                            {
                                                st = "Pending";
                                            }
                                            else
                                            {
                                                st = "Complete";
                                            }
                                            @st
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="DetailsReservation" asp-route-id="@item.ResId">Details</a>
                                        @{ var x = " | ";
                                            if (item.ResStatus == 0 && item.ResFrom < DateTime.Today)
                                            {
                                                @x
                                                <a asp-action="Survey" asp-route-id="@item.ResId">Complete</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>